@import url('https://fonts.googleapis.com/css?family=Overpass:300i,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600,700&display=swap');

.container-fluid {
    background-color:#EADEDA;
    height: 100vh;
    width: 100vw;
}

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  letter-spacing: .75px;
  line-height: 1.6em;
  word-wrap:break-word;
  text-align:left;
  margin:0;
  overflow-x:hidden!important;
  color: #114B5F;
  align: center;
}

.iceberg {
    width: 245px;
    padding-top: 100px;
}

.welcome {
  font-family: 'Overpass Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 77px;
}

#summary {
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #114B5F;
}

#summaryslogan {
  font-family: Overpass Mono;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #114B5F;
}
