@import url('https://fonts.googleapis.com/css?family=Overpass:300i,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600,700&display=swap');

.container-fluid {
    background-color:#E6CDB9;
}

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .75px;
  line-height: 1.6em;
  word-wrap:break-word;
  text-align:left;
  margin:0;
  overflow-x:hidden!important;
  color: #114B5F;
  align: center;
}

.row {
  padding: 50px 0px 50px 0px;
}

.iceberg {
    width: 245px;
    padding-top: 100px;
}

.welcome {
  font-family: 'Overpass Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 77px;
}

.leaderboard {
    width: 651px;
    height: 747px;

    background: #EADEDA;
    border-radius: 56px;
}

.leaderboard-title{
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 54px;
    /* identical to box height */

    letter-spacing: 0.05em;
    margin-top: 10px;
    color: #114B5F;
}

.leaderboard-list {
    width: 651px;
    height: 607px;

    background: #CC9B91;
    border-radius: 56px;
}
#summary {
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: #114B5F;
  padding: 50px;
}

#summaryslogan {
  font-family: Overpass Mono;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
  color: #114B5F;
  padding: 50px;
}
